
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
$main-color: #0F5E9C;
$yellow: #FBEF39;
$light-black: #252525;

@font-face {
    font-family: 'lg-head';
    src: url('../fonts/bluecashews-3zgn3.otf');
}
@font-face {
    font-family: 'cera-bold';
    src: url('../fonts/cera-pro-bold.otf');
}
@font-face {
    font-family: 'cera-medium';
    src: url('../fonts/cera-pro-medium.otf');
}
@font-face {
    font-family: 'cera';
    src: url('../fonts/cerapro-regular.otf');
}

body, html{
    color: white !important;
    background: black !important;
    // font-family: 'cera', sans-serif !important;
}

li{
    list-style-type: none;
}
a{
    text-decoration: none !important;
}
.text-right{
    text-align: right;
}
.main-btn{
    position: relative;
    padding: 12px 23px;
    background: $yellow;
    display: inline-block;
    outline: none;
    border: none;
    border-radius: 20px;
    max-width: max-content;
    transition: 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);   
    

    &.prev{
        background: #393939;

        span{
            color: white;
        }

        &:after{
            display: none;
        }

        &:before{
            filter: invert(100%) brightness(1000%);
            content: '';
            // position: absolute;
            // top: 50%;
            // right: 0;
            transform: translateY(-10%) scaleX(-1);
            width: 20px;
            display: inline-block;
            vertical-align: middle;
            margin-right: 15px;
           
            height: 20px;
            background: url(../images/arrow-right.svg) center/contain no-repeat;
        }
    }

    &.right{
        margin-left: auto;
        display: block;
    }

    &.no-arrow{

        &:after{
            display: none;
        }
    }

    &.white-btn{
        background: white;
    }

    &:after{
        content: '';
        // position: absolute;
        // top: 50%;
        // right: 0;
        transform: translateY(-10%);
        width: 20px;
        display: inline-block;
        vertical-align: middle;
        margin-left: 15px;
        height: 20px;
        background: url(../images/arrow-right.svg) center/contain no-repeat;
    }

    &.loading{
        max-width: 75px;
        border-radius: 50%;

        >*:not(.loader){
            opacity: 0;
            pointer-events: none;

        }
        &:after{
            opacity: 0;
            pointer-events: none;
        }
        
        >span.loader{
            display: flex;
            animation: rotation 1s linear infinite;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);

            &::after,
            &::before {
            content: '';  
                box-sizing: border-box;
                position: absolute;
                width: 24px;
                height: 24px;
                top: 50%;
                left: 50%;
                transform: scale(0.5) translate(0, 0);
                background-color: #ccc;
                border-radius: 50%;
                animation: animloader 1s infinite ease-in-out;
            }
            &::before {
                background-color: #000;
                transform: scale(0.5) translate(-48px, -48px);
            }
    
            @keyframes rotation {
                0% {
                    transform: rotate(0deg);
                }
                100% {
                    transform: rotate(360deg);
                }
            } 
            @keyframes animloader {
                50% {
                    transform: scale(1) translate(-50%, -50%);
                }
            }
        }

    }

    &.center{
        margin: 0 auto;
        display: block;
        max-width: max-content;
    }

    span{
        color: black;
        font-weight: 600;
        text-transform: uppercase;
    }

    &.white{
        background: white;
        
        span{
            color: $main-color;
        }
    }
    &.link-only{
        background: transparent;
        padding: 0;

        span{
            color: white;
        }

        &:after{
            filter: invert(100%);
        }
    }

    &.yellow-btn{

        span{
            color: $yellow;
        }

        &:after{
            filter: invert(0%);
            background: url(../images/yellow-arrow.svg) center/contain no-repeat;
        }
    }
}
h1,h2,h3,h4,h5,h6{
    font-family: 'lg-head', sans-serif;

    span{
        font-family: 'lg-head', sans-serif;
    }
}
.sec-head{
    font-size: 52px;
    text-transform: uppercase;
    line-height: 100%;

    &.sm{
        font-size: 42px;
    }
    &.big{
        font-size: 72px;
    }
}
.sec{
    padding: 6em 0px;
}